@charset "utf-8";
/* CSS Document */

/* General styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "courier-std", monospace;
	color: #A78E5A;
    background-color: black;
}

/* Logo*/
.headline {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 40px;
	text-align: center;
}

/* PC-Menu styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .slogan {
    font-size: 20px;
	color: black;
    text-decoration: none;
	text-align: center;
	margin-left: 5%;
}

.navbar .line {
	width: 5px;
	height: 30px;
	border-radius: 10px;
	margin-top: auto;
	margin-bottom: auto;
	
}

.navbar .menu {
    display: flex;
}

.navbar .menu a {
    text-decoration: none;
	color: #A78E5A;
    padding: 10px 20px;
}

/* Burger Menu styling */
.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu div {
    width: 30px;
    height: 3px;
	border-radius: 10px;
    background-color: #A78E5A;
}

/* M-Menu styling */
.mobile-menu {
    display: none;
    position: absolute;
    margin-top: 0%;
    right: 0;
    background-color: black;
    width: 100%;
    padding: 10px 0;
	padding-bottom: 100px;
    text-align: center;
	font-size: 20px;
	box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.25);
}


.mobile-menu a {
    display: block;
    padding: 20px;	
    text-decoration: none;
}

.mobile-menu a:hover {
}

/* Pop-up besked*/
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px;
  font-size: 30px;
  padding: 20px;
  z-index: 1000;
}

:target {
  display: block;
}

.close-link {
  display: flex;
  margin-top: 10px;
  color: #A78E5A;
  justify-content: center;
  text-decoration: underline;
}


/* General styling for sectioner*/

.section {
	padding: 5%;	
}

a {
	text-decoration: none;
}

#banner {
	width: 75%;
	height: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	
}

#banner p {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	}



#email {
	width: 30%;
    background-color: black;
    border: solid;
	border-width: 4px;
	color: #A78E5A; 
	font-size: 30px;
	font-family: "courier-std", monospace;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

input::placeholder {
	color: #A78E5A;
	font-family: "courier-std", monospace;
}

.submit-btn {
    width: 10%;
    padding: 12px;
    background-color: black;
	font-family: "courier-std", monospace;
	color: #A78E5A;
    font-size: 16px;
    border: solid;
    border-width: 4px;
    cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.submit-btn:hover {
    background-color: rgba(167,142,90,0.5);
}



/* Mobilt format */
@media (max-width: 768px) {
    
	/* Fastgør menu i toppen*/
	#sticky {
		position: fixed;
		width: 100%;
		background-color: black;
	}
	
	#banner {
		padding-top: 240px;
		padding-bottom: 70%;
	}
	
	
	/* Skjul PC-Menu */
	.navbar .line {
		display: none;
	}
	
	.navbar .menu {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    /* Vis Burger Menu */
    .mobile-menu.active {
        display: block;
    }
	
	/* Rettelser til mobilt format*/
	.al-logo {
		width: 75%;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	
	.navbar .slogan {
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	
	.popup {
		width: 80%;
	}
	
	#email {
		width: 70%
	}
	
	.submit-btn {
		width: 25%;
	}
	
}