@charset "utf-8";
/* CSS Document */

/* General styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: futura-pt, sans-serif;
    background-color: white;
}

/* Logo*/
.al-logo {
	width: 25%;
	padding-top: 20px;
	padding-bottom: 10px;
}

#active{
	color: black;
}


/* PC-Menu styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px 20px;
	border-bottom: solid 3px;
	border-bottom-color: #B1B2B2;
	border-top: solid 3px;
	border-top-color: #CCCCCC;
}

.navbar .slogan {
    color: white;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    font-size: 20px;
    text-decoration: none;
	text-align: center;
	margin-left: 5%;
}

.navbar .line {
	background-color: white;
	width: 5px;
	height: 30px;
	border-radius: 10px;
	margin-top: auto;
	margin-bottom: auto;
	
}

.navbar .menu {
    display: flex;
}

.navbar .menu a {
    color: white;
	font-family: Arial, sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.navbar .menu a:hover {
    color: black;
}

/* Burger Menu styling */
.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu div {
    width: 30px;
    height: 3px;
	border-radius: 10px;
    background-color: black;
}

/* M-Menu styling */
.mobile-menu {
    display: none;
    position: absolute;
    margin-top: 0%;
    right: 0;
    background-color: #D9D9D9;
    width: 100%;
    padding: 10px 0;
	padding-bottom: 100px;
    text-align: center;
	font-size: 20px;
	box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.25);
}

.mobile-menu a {
    display: block;
    padding: 20px;
    color: white;	
    text-decoration: none;
}

.mobile-menu a:hover {
    background-color: #575757;
}

/* General styling for sectioner*/

.section {
	padding: 5%;
	
}

#slideshow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.portal {
	height: 200px;
}


#banner {
	width: 75%;
	height: 150px;
}

#homepage-content {
	display: flex;
	flex-direction: right;
	justify-content: space-between;
}

.grey-tiles {
	width: 25%;
}

#portal-ad {
	width: 30%;
	padding-bottom: 20px;
}

#portal-message {
	text-align: center;
	color: #7ED1F2;
	font-weight: bold;
	font-size: 25px;
	}

a {
	text-decoration: none;
}

#portal-ad-button {
	color: white;
	font-weight: bold;
	font-size: 30px;
	background-color: orange;
	border-radius: 50px;
	height: 100px;
	width: 300px;
	text-align: center;
	line-height: 65px;
	padding: 16px 0;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	transition: background-color, box-shadow 0.3s ease;
}

#portal-ad-button:hover {
	background-color: darkorange;
	box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}

/* Mobilt format */
@media (max-width: 768px) {
    
	/* Fastgør menu i toppen*/
	#sticky {
		position: fixed;
		width: 100%;
		background-color: white;
	}
	
	#slideshow {
		padding-top: 220px;
	}
	
	/* Skjul PC-Menu */
	.navbar .line {
		display: none;
	}
	
	.navbar .menu {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    /* Vis Burger Menu */
    .mobile-menu.active {
        display: block;
    }
	
	/* Rettelser til mobilt format*/
	.al-logo {
		width: 75%;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	
	.navbar .slogan {
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	
	#banner {
		width: 50%;
	}
	
	.portal {
		width: 25%;
	}
	
	.grey-tiles {
		width: 100%;
}
	
	#greytile_1 {
		display: none;
	}
	
	#homepage-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#portal-ad {
		width: 300px;
	}
}

